<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <h2 class="subtitle">{{ site.title }}</h2>
      <p>{{ site.description }}</p>
      <p>
        <a class="icon" href="https://github.com/stronglifters">
          <i class="fa fa-github"></i>
        </a>
        <a class="icon" href="https://twitter.com/stronglifters">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
          <i class="fa fa-rss"></i>
        </a>
      </p>
    </div>
  </div>
</footer>
