<header class="container">
  <nav class="nav">
    <div class="nav-left">
      <a class="nav-item is-brand" href="https://www.stronglifters.com/">{{ site.title }}</a>
      <a class="nav-item" href="https://www.stronglifters.com/workouts">Workouts</a>
      <a class="nav-item" href="https://www.stronglifters.com/gyms">Gyms</a>
      <a class="nav-item is-active" href="{{ site.baseurl }}/">Blog</a>
      {% for my_page in site.pages %}
        {% if my_page.title %}
        <a class="nav-item" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
        {% endif %}
      {% endfor %}
    </div>

    <div class="nav-center">
      <a class="nav-item" href="https://github.com/stronglifters/">
        <span class="icon">
          <i class="fa fa-github"></i>
        </span>
      </a>
      <a class="nav-item" href="https://twitter.com/stronglifters">
        <span class="icon">
          <i class="fa fa-twitter"></i>
        </span>
      </a>
    </div>

    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>

    <div class="nav-right nav-menu">
      <a class="nav-item is-tab" href="https://www.stronglifters.com">Login</a>
    </div>
  </nav>
</header>
